---
title: Le Wagon - Middleman
---

   <div class="container text-center">
   	 <%= partial "banner" %>
	
	  <div class="row">
	    <div class="col-xs-12 col-sm-4">
	      <%= partial "cards" %>
	    </div>
	    <div class="col-xs-12 col-sm-4">
	      <%= partial "cards" %>
	    </div>
	    <div class="col-xs-12 col-sm-4">
	      <%= partial "cards" %>
	    </div>
	  </div>
   </div>
   